.modal-header h5 {
  font-weight: 600;
}

.form-group label {
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.form-group input {
  background-color: var(--gray-100);
  margin-bottom: 0.5rem;
}

.form-group input:focus {
  background-color: var(--gray-100);
}

.modal-footer [type="submit"] {
  background-color: #cc679c;
  border-color: #864868;
}

.modal-footer [type="submit"]:hover {
  background-color: #864868;
}

.modal-footer .btn-danger {
  background-color: #d45454 !important;
  border-color: #852b2b !important;
}

.modal-footer .btn-danger:hover {
  background-color: #c23939 !important;
  border-color: #dc2626 !important;
}

.modal-footer [type="button"] {
  background-color: var(--gray-100);
  color: #000000;
  border-color: #4b5563;
}

.modal-footer [type="button"]:hover {
  background-color: var(--gray-300);
}

.payment-method-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.status-filter-select {
  padding: .6rem .9rem !important;
  width: 20.5ch !important;
}

.btn-paymentMethod {
  background-color: var(--color-primary);
  transition: all 0.3s ease;
}

.btn-paymentMethod:hover {
  background-color: var(--color-primary-hover);
  border: 1px solid var(--color-primary-hover);
}

/* Mobile */
@media (width <=768px) {
  .btn-paymentMethod {
    font-size: .85rem;
  }

  .payment-method-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .payment-method-header button {
    width: auto;

    margin-bottom: 12px;
  }

  .payment-method-header select {
    width: auto;
    margin-left: 0 !important;
    width: 20.5ch !important;
  }
}